img.keynote {
	border: thin solid black;
	width: 100px;
	float: left;
	padding: 0px;
	margin-right: 10px;
}

.titleblock {
	text-align: center
}

.titleblock img {
	max-height: 20em;
	max-width: 100%;
	padding: 1em;
}

.titleblock h1 {
	margin-top: 20px;
	margin-bottom: 20px;
	letter-spacing: -1px;
    line-height: 60px;
    font-weight: 200;
}

.titleblock .welcome {
	font-size: 25px;
	font-weight: 400;
}

p.welcome {
	font-size: 25px;
	font-weight: 400;
	color: #00843D;
	/*text-shadow: 0 1px 0 black;*/
}

h2, h3 {
	font-weight: 200;
}

h5 {
	font-weight: 600;
}

img.sponsor {
	padding: 5px;
	height: 60px;
}

.committee li {
	list-style-type: none;
}

.committee li img {
	height: 90px;
	margin-right: 1em;
	margin-bottom: 1em;
}

.past td {
	text-decoration: line-through;
}
